<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBztANYzh2g6MCvl22eQ9KBzzvh-n4bAFo</string>
	<key>GCM_SENDER_ID</key>
	<string>948622753050</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myron.eLibrary</string>
	<key>PROJECT_ID</key>
	<string>e-library-ce08c</string>
	<key>STORAGE_BUCKET</key>
	<string>e-library-ce08c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:948622753050:ios:eae02c70a7d522624a80a3</string>
</dict>
</plist>